<div id="container">

  <md-select placeholder="Sort By" (change)="doSelectChange()" [(ngModel)]="selectedValue">
    <md-option  *ngFor="let item of items" [value]="item.value">{{ item.name }}</md-option>
  </md-select>

  <button md-button (click)="toggleRaised()">Amount Raised
    <span *ngIf="raised!==null">
      <span *ngIf="raised===false" class="glyphicon glyphicon-arrow-up"></span>
      <span *ngIf="raised==true" class="glyphicon glyphicon-arrow-down"></span>
      </span>
  </button>
  <button md-button (click)="toggleEndTime()">End Time
    <span *ngIf="endTime!==null">
    <span *ngIf="endTime===false" class="glyphicon glyphicon-arrow-up"></span>
    <span *ngIf="endTime===true" class="glyphicon glyphicon-arrow-down"></span>
    </span>
  </button>


</div>
